@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.sub_header h5 {
  color: #3080f5;
  font-size: 20px;
  font-style: italic;
}
.sub_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
  background-color: #faf8f2;
}
menu {
  display: none;
}
.sub_header span {
  display: none;
}

/*----------HERO SECTION----------*/
#HERO {
  background-color: #faf8f2;
}
.sub_hero1 .tablet {
  display: none;
}
.sub_hero1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.sub_hero1 img {
  width: 18rem;
}
.sub_hero2 {
  padding: 1rem 1rem;
}
.sub_hero2 h1 {
  font-size: 1.9rem;
  padding-right: 1rem;
  line-height: 2.5rem;
}
.sub_hero2 p {
  font-size: 16px;
  padding: 0.8rem 1rem 1rem 0;
  line-height: 1.5rem;
  color: rgb(98, 96, 96);
}
.sign button {
  outline: none;
  text-decoration: none;
  background-color: #1da2f1;
  border: none;
  color: #faf8f2;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  width: 18rem;
  height: 4rem;
  display: inline-block;
  border-radius: 5px;
}
.sign a {
  text-decoration: none;
  display: block;
  outline: none;
  text-align: center;
  font-size: 17px;
  padding-top: 1rem;
  color: #5592a9;
  font-weight: 600;
}
#pictures {
  display: flex;
  margin-top: 1rem;
  margin-left: 1rem;
}
#pictures img {
  margin-left: -1.3rem;
}
.details {
  color: rgb(98, 96, 96);
  font-size: 15px;
}
.details span {
  color: #5592a9;
  font-weight: 600;
}
.details br {
  display: none;
}
/*--------------ABOUT SECTION-------*/
.about {
  margin: 2rem 10px;
}
.about br {
  display: none;
}
.about h1 {
  font-size: 1.9rem;
}
.features {
  padding: 1rem 1rem;
  border: 1px solid #c4c4c4;
  margin-top: 2rem;
  border-radius: 6px;
}
.features span {
  font-size: 1.9rem;
}
.features h5 {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 1rem;
}
.features p {
  font-size: 15px;
  color: #626060;
}
/* --------CUSTOMER SECTION------- */
.comment h1 {
  font-size: 1.9rem;
}
.comment1 {
  padding-top: 1rem;
  background-color: #ffff;
  margin-top: 3rem;
  border-radius: 6px;
}
.comment2 {
  padding-top: 1rem;
  background-color: #ffff;
  margin-top: 3rem;
  border-radius: 6px;
}
.comment3 {
  padding-top: 1rem;
  background-color: #ffff;
  margin-top: 3rem;
  border-radius: 6px;
}
.comment {
  padding: 3rem 1rem;
  background-color: #d9f5f5;
}
#comment-flex {
  display: flex;
  justify-content: center;
}
.comment-pics {
  width: 4rem;
}
#comment-block {
  display: block;
  margin-left: 7px;
  margin-top: 20px;
}
.comment-birds img {
  padding-left: 5rem;
  padding-top: 1rem;
}
.tweet_content {
  padding: 1rem 1rem;
}
.tweet_comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}
/* -----PRICING SECTION----- */
.sub_price {
  text-align: center;
  margin-top: 3rem;
}
.sub_price h1 {
  font-size: 1.7rem;
}
.sub_price p {
  line-height: 25px;
  padding-top: 1rem;
}
.sub_detail img {
  margin: 0;
}
.sub_price2 {
  background-color: #faf8f2;
  margin: 3rem 1rem 0 1rem;
  border: 1px solid #ffad23;
  border-radius: 10px;
  padding: 20px;
}
#monthly {
  border-bottom: 1px solid #626060;
  padding: 1rem 0rem;
}
.sub_price2 span {
  font-size: 3rem;
  font-weight: 600;
}
.sub_price2 p {
  font-size: 25px;
}
.sub_detail {
  display: flex;
  text-align: left;
  align-items: center;
}
.sub_detail p {
  font-size: 15px;
  line-height: 25px;
  padding-left: 10px;
  padding-top: 1rem;
  color: #626060;
}
.sub_price br {
  display: none;
}
button {
  outline: none;
  text-decoration: none;
  background-color: #1da2f1;
  border: none;
  color: #faf8f2;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  width: 15.5rem;
  margin-top: 20px;
  height: 3rem;
  display: inline-block;
  border-radius: 5px;
}

/* ----FOOTER SECTION---- */
footer {
  background-color: #d9f5f5;
  margin-top: 4rem;
  padding: 1rem 1rem;
}
footer h5 {
  color: #3080f5;
  font-size: 20px;
  font-style: italic;
}
.sub-footer {
  display: flex;
  margin: 1rem 0;
}
.sub-footer p {
  margin-left: 2rem;
}

@media only screen and (min-width: 375px) {
  .sub_hero1 img {
    width: 22rem;
  }
  button {
    width: 19rem;
  }
  .sign button {
    width: 20rem;
  }
  .sub_detail p {
    font-size: 17px;
  }
}

@media only screen and (min-width: 425px) {
  .sub_hero1 img {
    width: 24rem;
  }
  .sub_detail p {
    font-size: 18px;
  }
  .sign button {
    width: 24rem;
  }
}
@media only screen and (min-width: 768px) {
  .sub_hero1 img {
    display: none;
  }
  .sub_hero1 .tablet {
    display: block;
    width: 45rem;
  }
  .sub_hero2 h1 {
    font-size: 3rem;
    line-height: 4rem;
  }
  .sub_hero2 p {
    font-size: 18px;
    line-height: 2rem;
  }
  .sub_sign {
    display: flex;
  }
  .sub_sign a {
    margin: 25px;
  }
  .sub_sign butt menu {
    display: flex;
  }
  menu {
    display: flex;
    margin-left: 8rem;
  }
  menu li {
    list-style: none;
  }
  menu li a {
    text-decoration: none;
    margin-right: 2rem;
  }
  .sub_header img {
    display: none;
  }
  .sub_header {
    padding-top: 3rem;
  }
  .details br {
    display: block;
  }
  .features h5 {
    font-size: 20px;
  }
  .features p {
    font-size: 20px;
    line-height: 2rem;
  }
  .sub_header span {
    display: flex;
    outline: none;
    background-color: #1da2f1;
    padding: 20px 40px 20px 40px;
    color: #ffff;
    border-radius: 6px;
    font-weight: 600;
  }
  .comment_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .comment1 {
    margin-right: 1rem;
  }
  .comment3 {
    display: none;
  }
  .sub_price2 {
    margin: 3rem 8rem;
  }
  .sub_detail p {
    display: flex;
    text-align: left;
    justify-items: left;
  }
  .sub_detail img {
    display: flex;
  }
  .button {
    width: 28rem;
    height: 4rem;
  }
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sub_price br {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  menu {
    margin-left: 10rem;
  }
  .sub_header {
    padding: 3rem 4rem 1rem 4rem;
  }
  .sub_header span {
    padding: 20px 50px;
  }
  #HERO {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 3rem;
  }
  .sub_hero1 {
    grid-column: 2;
  }
  .sub_hero2 {
    grid-column: 1;
    grid-row: 1;
    margin-top: 3rem;
  }
  .sub_hero1 .tablet {
    display: none;
  }
  .sub_hero1 img {
    display: block;
    width: 25rem;
    height: 45rem;
    padding: 0;
  }
  .about {
    padding: 2rem 3.8rem;
  }
  .about br {
    display: block;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .features {
    margin: 20px 2rem 1rem 0;
  }
  .comment_grid {
    display: flex;
  }
  .comment {
    padding: 1rem 4rem;
  }
  .comment2 {
    margin: 2rem 1rem 3rem 1rem;
    padding: 15px 15px 4.8rem 15px;
  }
  .comment1 {
    padding: 15px;
    margin-top: 2rem;
    margin-bottom: 10rem;
  }
  .comment3 {
    display: block;
    margin-top: 2rem;
    padding: 15px;
    margin-bottom: 10rem;
  }
  .sub_price2 {
    margin: 2rem 18rem;
  }
  .button {
    width: 25rem;
  }
  footer {
    padding: 1rem 4rem;
  }
}

@media only screen and (min-width: 1440px) {
  .sub_hero1 img {
    display: block;
    width: 40rem;
    height: 50rem;
    padding: 0;
  }
  .sub_price2 {
    margin: 2rem 28rem;
  }
  .button {
    width: 32rem;
  }
  .comment2 {
    margin: 2rem 2rem;
  }
}
